.homeContainer{
    background-color: #1b2530;
    width: 100%;
    height: 100%;
    padding: 15px;
   
}

.img-dim{
    height: 37vh;
    width: 100%;
    object-fit: cover; 
    background-position: top;
    background-repeat: no-repeat
    
}
.icon{
    background-color: black;
}

.indicators button{
    background-color: white!important;
    border-radius: 50% !important;
    height: 0.5rem!important;
    width: 0.5rem!important;
    display: flex;

} 
